#contenedor{
    border-style: solid;
    margin: 0 auto;
    width: 1500px;
    height: 700px;
}

#planoEmpresa{
    margin: 0 auto;
    border-style: none;
    width: 800px;
    height: 500px;
}

#areaDeVentas{
    margin: 0 auto;
    border-style: solid;
    width: 800px;
    height: 250px;
}

#almacen{
    margin: 0 auto;
    border-style: solid;
    width: 800px;
    height: 250px;
}

#puntoDeVigilancia{
    margin: 0 auto;
    position: absolute;
    top: 158px;
    border-style: dashed;
    width: 100px;
    height: 100px;
    background: #41d592;
}

#puntoDeSupervision{
    border-style: dashed;
    left: 60%;
    top: 212px;
    width: 100px;
    height: 100px;
    position: absolute;
    background: #977AAD;
}

#puertaArriba {
    left: 46%;
    top: 225px;
    height: 50px;
    width: 165px;
    position: absolute;
}

#puertaLado{
    width: 50px;
    position: absolute;
    left: 21%;
    height: 150px;
}

#puertaAbajo{
    width: 165px;
    height: 50px;
    left: 46%;
    top: 509px;
    position: absolute;
}

#vigilanteUno{
    width:75px;
    height:75px;
    border-style: solid;
    position: absolute;
    z-index: 10;
}

#vigilanteDos{
    width:75px;
    height:75px;
    border-style: solid;
    position: absolute;
    top: 30%;
    z-index: 10;
    margin-left: 100px;
}

#supervivor{

    width:75px;
    height:75px;
    border-style: solid;
    position: absolute;
    left: 10%;
    z-index: 10;
}

.dropClassVigilante{
    background:#55d532;
}

.dropClassSupervisor{
    background: #b52d8e;
}

#sortable {
    list-style-type: armenian;
    margin: 0;
    padding: 0;
    width: 200px;
    margin-left: 1200px;
    margin-top: 10px;
    position: absolute;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
    border-bottom: #21dcdc;
    border: solid;
    border-radius: 10px;
}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
}

#accordion h3 {
    width: 200px;
    text-transform: uppercase;
    background: #cf3700;
    color: #fff;
    font-family: 'Poiret One', cursive;
}

#accordion{
    margin-left: 50px;
    margin-top: 200px;
    position: absolute;
}

#accordion >div {
    height: 70px;
}

#menu {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

.contenedorTabs {
    width: 300px;
    height: 262px;
    position: absolute;
    left: 1174px;
    top: 216px;
}

#puertaVentasCerrada, #puertaVentasAbierta {
    position: absolute;
    left: 352px;
    width: 20px;
    height: 140px;
    margin-right: 5px;
}

#puertaAlmacenCerrada, #puertaAlmacenAbierta {
    left: 50%;
    top: 511px;
    position: absolute;
    width: 175px;
    height: 20px;
}

#puertaInteriorCerrada, #puertaInteriorAbierta {
    left: 46%;
    top: 257px;
    width: 165px;
    height: 20px;
    position: absolute;
}

#puertaVentasCerrada, #puertaAlmacenCerrada, #puertaInteriorCerrada {
    background-color: red;
}

#puertaVentasAbierta, #puertaAlmacenAbierta, #puertaInteriorAbierta {
    background-color: white;
}

.imagenes{
    margin-left: 26px;
}

.camaraApagada{
    position: absolute;
    z-index: 10;
    display: none;
}