#contenedor{
    border-style: solid;
    margin: 0 auto;
    width: 1500px;
    height: 700px;
}

#planoEmpresa{
    margin: 0 auto;
    border-style: none;
    width: 800px;
    height: 500px;
}

#areaDeVentas{
    margin: 0 auto;
    border-style: solid;
    width: 800px;
    height: 250px;
}

#almacen{
    margin: 0 auto;
    border-style: solid;
    width: 800px;
    height: 250px;
}

#puntoDeVigilancia{
    margin: 0 auto;
    position: absolute;
    top: 158px;
    border-style: dashed;
    width: 100px;
    height: 100px;
}

#puntoDeSupervision{
    border-style: dashed;
    left: 60%;
    top: 212px;
    width: 100px;
    height: 100px;
    position: absolute;
}

#puertaArriba {
    left: 46%;
    top: 225px;
    height: 50px;
    width: 165px;
    position: absolute;
}

#puertaLado{
    width: 50px;
    position: absolute;
    left: 21%;
    height: 150px;
}

#puertaAbajo{
    left: 46%;
    top: 509px;
    position: absolute;
}

#vigilanteUno{
    /*text-align:center;*/
    /*vertical-align:middle;*/
    /*font-size:12px;*/
    /*font-weight:bold;*/
    width:75px;
    height:75px;
    border-style: solid;
    position: absolute;
    z-index: 10;
}

#vigilanteDos{
    /*text-align:center;*/
    /*vertical-align:middle;*/
    /*font-size:12px;*/
    /*font-weight:bold;*/
    width:75px;
    height:75px;
    border-style: solid;
    position: absolute;
    top: 30%;
    z-index: 10;

}

#supervivor{
    /*text-align:center;*/
    /*vertical-align:middle;*/
    /*font-size:12px;*/
    /*font-weight:bold;*/
    width:75px;
    height:75px;
    border-style: solid;
    position: absolute;
    left: 10%;
    z-index: 10;
}

/** style for droppable when the moveable object is dropped **/
.dropClassVigilante{
    background:#55d532;
}

.dropClassSupervisor{
    background: #b52d8e;
}

